<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429790735590-ks6reqtr2e0fftj17ea3d8ua5mu1afsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429790735590-ks6reqtr2e0fftj17ea3d8ua5mu1afsr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>429790735590-amqrstfhms6v1bgeokih4q66dcouc970.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAm3_WCWqclzFzgXld7HKRK6yI3A7Ie2c0</string>
	<key>GCM_SENDER_ID</key>
	<string>429790735590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-e1a57</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-e1a57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429790735590:ios:2ac1ed5ace13c32b3c1f27</string>
</dict>
</plist>